@color-background: #0F0F0F;
@color-text-light: #E5E5E5;

@color-topbar-background: #1A1A1A;
@size-topbar-height: 30px;
@color-topbar-titletext: #FFFFFF;
@color-topbar-window-button: #141414;
@color-topbar-window-button-text: #666666;
@color-topbar-window-button-text-hover: #0078FF;
@color-topbar-window-xbutton-text-hover: #E40101;
@color-topbar-window-button-hover: #1F1F1F;
@size-topbar-window-button-width: 30px;
@size-topbar-window-button-height: 30px;

@color-toolbar-background: #1A1A1A;
@size-toolbar-height: 60px;
@color-toolbar-button: transparent;
@color-toolbar-button-bar: #999999;
@color-toolbar-button-hover: #4D4D4D;
@color-toolbar-button-bar-hover: #FFFFFF;
@size-toolbar-button-width: 80px;
@size-toolbar-button-height: 60px;

@color-navpane-header: #0A0A0A;
@color-navpane-background: #141414;
@color-navpane-entry: transparent;
@color-navpane-entry-selected: #1F1F1F;
@color-navpane-entry-hover: #282828;
@size-navpane-header-height: 20px;
@font-size-navpane-entry: 12px;

@color-scrollbar-handle: #999999;
@color-scrollbar-track: #000000;
@color-scrollbar-thickness: 10px;

@color-file-toolbar-background: #141414;

@font-default: "Segoe UI";

@color-dialog: #1A1A1A;
@color-dialog-border: #282828;

@size-exit-dialog-width: 270px;
@size-exit-dialog-height: 90px;

@color-viewer-text-background: #202020;
@color-viewer-text-background-focus: #282828;
@color-viewer-text-border: #2C2C2C;
@color-viewer-text-border-focus: #3C3C3C;
@color-text-highlight: #666666;


.root {
  -fx-background-color: @color-topbar-background, @color-background;
  -fx-background-insets: 0, 4px;
  -fx-text-fill: @color-text-light;


  #bottom-drag {
    -fx-cursor: v_resize;
  }
  #side-drag {
    -fx-cursor: h_resize;
  }
}

.button {
  -fx-cursor: hand;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.check-box {
  -fx-font-family: @font-default;
  -fx-text-fill: @color-text-light;
  -fx-font-size: 12px;
}

#top-drag {
  -fx-cursor: move;
}


.label {
  -fx-font-family: @font-default;
  -fx-text-fill: @color-text-light;
  -fx-font-size: 12px;
}

.topbar {
  -fx-background-color: @color-topbar-background;
  -fx-background-image: url("toolbar/toolbar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 97px 80px;
  -fx-background-position: 3 0;
  -fx-min-height: @size-topbar-height;
  -fx-max-height: @size-topbar-height;
  .label {
    -fx-font-size: 14px;
  }
  .window-btn {
    -fx-background-color: @color-topbar-window-button;
    -fx-min-width: @size-topbar-window-button-width;
    -fx-max-width: @size-topbar-window-button-width;
    -fx-min-height: @size-topbar-window-button-height;
    -fx-max-height: @size-topbar-window-button-height;
    &:hover {
      -fx-background-color: @color-topbar-window-button-hover;
      -fx-text-fill: @color-topbar-window-button-text-hover;
    }
  }

  .window-iconify-button {
    -fx-background-image: url("window/iconify.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: 0 0;
    &:hover {
      -fx-text-fill: @color-topbar-window-button-text-hover;
      -fx-background-image: url("window/iconify_hover.png");
    }
  }

  #window-restore-button {
    -fx-background-image: url("window/restore.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: 0 0;
    &:hover {
      -fx-text-fill: @color-topbar-window-button-text-hover;
      -fx-background-image: url("window/restore_hover.png");
    }
  }

  .window-max-button {
    -fx-background-image: url("window/max.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: 0 0;
    &:hover {
      -fx-text-fill: @color-topbar-window-button-text-hover;
      -fx-background-image: url("window/max_hover.png");
    }
  }

  .window-x-button {
    -fx-background-image: url("window/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: 0 0;
    &:hover {
      -fx-text-fill: @color-topbar-window-xbutton-text-hover;
      -fx-background-image: url("window/close_hover.png");
    }
  }
}

.toolbar {
  -fx-background-color: @color-toolbar-background;
  -fx-background-image: url("toolbar/toolbar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 97px 80px;
  -fx-background-position: 3 -@size-topbar-height;
  -fx-min-height: @size-toolbar-button-height;
  -fx-max-height: @size-toolbar-button-height;
  .button {
    -fx-background-color: @color-toolbar-button;
    -fx-background-insets: 0;
    -fx-border-color: @color-toolbar-button-bar;
    -fx-border-width: 0 0 4px 0;
    -fx-border-insets: 0;
    -fx-min-width: @size-toolbar-button-width;
    -fx-max-width: @size-toolbar-button-width;
    -fx-min-height: @size-toolbar-button-height;
    -fx-max-height: @size-toolbar-button-height;
    -fx-font-size: 14px;
    -fx-graphic-text-gap: 2px;
    -fx-content-display: TOP;
    -fx-text-fill: @color-text-light;
    -fx-padding: 0;
    &:hover {
      -fx-background-color: @color-toolbar-button-hover;
      -fx-border-color: @color-toolbar-button-bar-hover;
    }
  }
}

.split {
  -fx-background-color: @color-background;
  .split-pane-divider {
    -fx-padding: 0 1px;
    -fx-background-color: @color-navpane-background;
  }
}

.scroll-pane {
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-background-color: @color-navpane-background;
  &:focused {
    -fx-border-width: 0;
  }
  .viewport {
    -fx-border-color: transparent;
    -fx-background-color: @color-navpane-background;
  }
  .scroll-bar {
    -fx-background-color: @color-scrollbar-track;
    -fx-background-insets: 0;
    -fx-padding: 0;
    &:horizontal {
      -fx-min-height: @color-scrollbar-thickness;
      -fx-max-height: @color-scrollbar-thickness;
    }
    &:vertical {
      -fx-min-width: @color-scrollbar-thickness;
      -fx-max-width: @color-scrollbar-thickness;
    }
    .thumb {
      -fx-background-color: @color-scrollbar-handle;
      -fx-background-insets: 0;
      -fx-background-radius: 0;
    }
    .increment-button,
    .decrement-button {
      -fx-background-color: transparent;
      -fx-background-insets: 0;
      -fx-padding: 0;
      .increment-arrow,
      .decrement-arrow {
        -fx-shape: " ";
      }
    }
  }
}
.navpane {
  -fx-background-color: @color-navpane-background;
  .header {
    -fx-padding: 0 6px;
    -fx-background-color: @color-navpane-header;
    -fx-font-size: 12px;
    -fx-text-fill: @color-text-light;
    -fx-min-height: @size-navpane-header-height;
    -fx-max-height: @size-navpane-header-height;
  }
}

.nav-tree-view {
  -fx-background-color: @color-navpane-background;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-border-radius: 0;
  .tree-cell {
    -fx-background-color: @color-navpane-entry;
    -fx-text-fill: @color-text-light;
    -fx-font-size: @font-size-navpane-entry;
    -fx-padding: 1px;
    &:selected {
      -fx-background-color: @color-navpane-entry-selected;
    }
  }
}


.dialog {
  -fx-background-color: @color-dialog;
  -fx-border-color: @color-dialog-border;
  -fx-min-width: @size-exit-dialog-width;
  -fx-min-height: @size-exit-dialog-height;
  -fx-alignment: CENTER;
  .label,
  .exit-dialog-lbl {
    -fx-text-fill: @color-text-light;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-font-size: 12px;
  }
  .button {
    -fx-background-color: @color-toolbar-button;
    -fx-background-insets: 0;
    -fx-border-color: @color-toolbar-button-bar;
    -fx-border-width: 0 0 4px 0;
    -fx-border-insets: 0;
    -fx-font-size: 14px;
    -fx-text-fill: @color-text-light;
    -fx-padding: 0;
    -fx-alignment: CENTER;
    &:hover {
      -fx-background-color: @color-toolbar-button-hover;
      -fx-border-color: @color-toolbar-button-bar-hover;
    }
  }
}

.file-info-bar {
  -fx-background-color: @color-background;
}

.spinner {
  -fx-border-insets: 0;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  .text-field {
    -fx-cursor: default;
    -fx-highlight-fill: @color-text-highlight;
    -fx-highlight-text-fill: @color-text-light;
    -fx-text-fill: @color-text-light;
    -fx-background-color: transparent;
  }
  .increment-arrow-button,
  .decrement-arrow-button {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: @color-toolbar-button;
    -fx-background-radius: 0;
    &:hover {
      -fx-background-color: @color-toolbar-button-hover;
    }
    .increment-arrow,
    .decrement-arrow {
      -fx-background-color: @color-text-light;
    }
  }
}

.dds {
  .dds-toolbar {
    -fx-padding: 0 10px;
    .button {
      -fx-background-color: @color-toolbar-button;
      -fx-background-insets: 0;
      -fx-border-color: @color-toolbar-button-bar;
      -fx-border-width: 0 0 2px 0;
      -fx-border-insets: 0 0 2px 0;
      -fx-font-size: 12px;
      -fx-text-fill: @color-text-light;
      -fx-padding: 4px 8px;
      -fx-alignment: CENTER;
      &:hover {
        -fx-background-color: @color-toolbar-button-hover;
        -fx-border-color: @color-toolbar-button-bar-hover;
      }
    }
    #size-lbl {
      -fx-padding: 0 4px;
      -fx-min-width: 100px;
      -fx-text-alignment: center;
      -fx-alignment: center;
    }
  }
}

.text-viewer {
  .txt-area {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: @color-text-light;
    -fx-font-family: 'Consolas', 'Cambria';
    -fx-font-size: 12px;
    -fx-highlight-fill: @color-text-highlight;
    .content {
      -fx-background-color: @color-viewer-text-background;
      -fx-background-radius: 0;
      -fx-border-width: 2px;
      -fx-border-radius: 0;
      -fx-border-insets: 0;
      -fx-border-color: @color-viewer-text-border;
    }
    &:focused {
      .content {
        -fx-border-color: @color-viewer-text-border-focus;
      }
    }
  }
}
